<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="containe">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название товара</th>
                    <th>Цена</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"/>
                    <td th:text="${product.title}"/>
                    <td th:text="${product.price}"/>
                    <td>
                        <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/products}" class="form-horizontal">
    <div class="Filter">
        <table>
<!--            <caption>Фильтрация</caption>-->
<!--            <tr>-->
<!--                <th>Цена мин</th>-->
<!--                <th>Цена макс</th>-->
<!--                <th>Подстрока</th>-->
<!--                <th>Подтверждение</th>-->
<!--            </tr>-->
            <tbody>

                <tr>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <td><input th:value = "${Min != null} ? ${Min}" name="Min" placeholder="*min" class="form-control"></td>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <td><input th:value = "${Max != null} ? ${Max}" name="Max" placeholder="*max" class="form-control"></td>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <td><input th:value = "${Substring != null} ? ${Substring}" name="Substring" placeholder="*text" class="form-control"></td>
                    </div>

                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <td><input type="submit" value="Фильтровать" class="btn btn-primary"></td>
                        </div>
                    </div>
                </tr>

            </tbody>
        </table>
    </div>
    </form>

    <form th:action="@{/add}">
    <div class="Add">
        <table>
<!--            <caption>Добавление товара</caption>-->
<!--            <tr>-->
<!--                <th>Название</th>-->
<!--                <th>Цена</th>-->
<!--            </tr>-->
            <tbody>
            <tr>
                <td><input name="Name" placeholder="*name" class="form-control"></td>
                <td><input name="Price" placeholder="*price" class="form-control"></td>
                <td><input type="submit" value="Добавить"  class="btn btn-primary"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>

    <form th:action="@{/delete}">
    <div class="Delete">
        <table>
<!--            <caption>Удаление товара</caption>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--            </tr>-->
            <tbody>
            <tr>
                <td><input name="id" placeholder="*id" class="form-control"></td>
                <td><input type="submit" value="Удалить"  class="btn btn-primary"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>

    <form th:action="@{/change}">
    <div class="change">
        <table>
<!--            <caption>Изменение товара</caption>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Новое название</th>-->
<!--                <th>Новая цена</th>-->
<!--                <th>Подтверждение</th>-->
<!--            </tr>-->
            <tbody>
            <tr>
                <td><input name="ID" placeholder="*id" class="form-control"></td>
                <td><input name="Name" placeholder="*name" class="form-control"></td>
                <td><input name="Price" placeholder="*price" class="form-control"></td>
                <td><input type="submit" value="Изменить"  class="btn btn-primary"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>
</body>
</html>